.titulo_productos{
    text-align: center;
}

.card_container{
    display: flex;
    justify-content: center;
}

.card{
    background-color: #5300C8;
    height: 280px;
    width: 45%;
    border: 5px solid black;
    border-radius: 10px;
    margin: 1em 0 1em 1em;
    display: flex;
    flex-direction: column;
}

.imagen_producto{
    width: auto;
    height: 70%;
    border: 5px solid black;
    border-radius: 10px;
    align-self: center;
}

p{
    color: white;
    font-size: 20px;
    margin: 5px 0 0 10px;
}

.card_value{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    justify-content: space-between;
}

.logo_trash{
    margin-right: 10px;
}